 
 <div class = "country__name">
<img src = {{flags}} alt = {{official}} width='40' haigth='20'/> 
<h1 class = country__title >{{name}}</h1>
</div>
<ul class = country-list>
<li class = cantry__item>
<p class = cantry__text ><span class = cantry__span>Capital:</span> {{capital}}</p>
</li>
<li class = cantry__item>
<p class = cantry__text ><span class = cantry__span>Population:</span> {{population}}</p>
</li>
<li class = cantry__item>
<p class = cantry__text><span class = cantry__span>Languages:</span> {{languages}}</p>
</li>
</ul>